{% extends 'base.html' %}
{% block title %}
Signup
{% endblock %}

{% block content %}
{% if error  %}
  <div class="chip">
    <div class = "material-icons">error_outline</div>{{error}}
    <i class="material-icons">close</i>
  </div>
{% endif %}
<div class = "row">
	<form class = "col s12" action = "{% url 'authent:signup' %}" method = "post">
		{% csrf_token %}
		<div class = "row">
			<div class="input-field col s4">
				<input type="text" class="validate" name = "username" required="">
				<label for="first_name">Username</label>
			</div>
		</div>
		<div class = "row">
			<div class="input-field col s4">
				<input type="text" class="validate" name = "firstName" required="">
				<label for="first_name">First Name</label>
			</div>
		</div>
		<div class = "row">
			<div class="input-field col s4">
				<input type="text" class="validate" name = "lastName" required="">
				<label for="first_name">Last Name</label>
			</div>
		</div>
		<div class = "row">
			<div class="input-field col s4">
				<input type="password" class="validate" name = "password" required="">
				<label for="first_name">password</label>
			</div>
		</div>
		<div class = "row">
			<div class="input-field col s4">
				<input type="password" class="validate" name = "password2" required="">
				<label for="first_name">Re-type password</label>
			</div>
		</div>
		<div class = "row">
			<div class="input-field col s4">
				<input type="email" class="validate" name = "email" required="">
				<label for="first_name">email-address</label>
			</div>
		</div>
		<div class = "row">
			<div class="input-field col s6">
				<input type="submit" class="validate btn green darken-4" name = "Sign up">
			</div>
		</div>
	</form>
</div>
{% endblock %}